{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% load account socialaccount %}




{% block content %}

<div class="row">
	<div class="col-md-8" role="main">
		<a id="searchable"></a>		
	    <h1>
			Reset your Afia password
		</h1>

		{% if user.is_authenticated %}
	    {% include "account/snippets/already_logged_in.html" %}
	    {% endif %}

		<div class="row">
	        <div class="col-sm-12">
	            <p>Forgotten your password? we'll email you a link with instructions to reset your password.</p>
	        </div>
			<form id="formRecovery" action="{% url 'account_reset_password' %}" method="post" class="password_reset">
				{% csrf_token %}
				{% if request.GET.next %}
	                <input type="hidden" name="next" value="{{request.GET.next}}" class="form-control">
	            {% endif %}

				{% if form.non_field_errors %}
				<div class="alert alert-warning">
		          <ul class="alert-message">
		            {% for error in form.non_field_errors %}
		            <li>{{ error }}</li>
		            {% endfor %}
		          </ul>
		        </div>
		        {% endif %}
		        <div class="col-sm-12">
			        <div id="field_username_or_email" class="field form-group required">
						<label for="id_username_or_email" class="control-label">Submit your email address *</label>
						<div class="controls widget {% if form.email.errors %}has-error{% endif %}" style="margin-bottom: 0px;">
							<input id="id_username_or_email" type="email" name="email" class="form-control input-lg" placeholder="Email Address">
						</div>
						<div class="errors help-block" style="margin: 0px; padding-top: 5px;">{{form.email.errors}}</div>
					</div>
				</div>
				<div class="col-sm-6 pull-left">
	                <button type="submit" class="btn btn-primary btn-lg btn-block" value="Reset">Reset Password</button>
				</div>
			</form>
		</div>
		<a id="searchable_end"></a>
	</div>

	<div class="col-md-4">
				
    
		<div class="panel panel-default">
			<div class="panel-heading">
				Login / Registration
			</div>
		    <div class="list-group">
				<a href="{% url 'account_login' %}" class="list-group-item">Login / Register</a>
				<a href="{% url 'account_reset_password' %}" class="list-group-item">Forgot Password</a>
		    </div>
	    </div>
    
	
		<div class="panel panel-success" id="side_nav_links">
			<div class="panel-heading">
				Afia - Buy and Sell Mobile
			</div>
			<div class="list-group">
				<a id="side_nav_about" href="/about" title="About Afia" class="list-group-item">About Afia</a>
				<a id="side_nav_buy" href="{% url 'buy' %}" title="Buy with Afia" class="list-group-item">Buy with Afia</a>
				<a id="side_nav_sell" href="/sell" title="Sell with Afia" class="list-group-item">Sell with Afia</a>
				<a id="side_nav_vs" href="/vs/ebay" title="Afia vs. Jumia" class="list-group-item">Afia vs. Jumia</a>
				<a id="side_nav_faq" href="/faq" title="Afia FAQ" class="list-group-item">FAQ: Questions &amp; Answers</a>
				<a id="side_nav_policies" href="/policies" title="Afia Market Policies" class="list-group-item">Market Policies</a>
				<a id="side_nav_contact" href="/contact" title="Contact Afia" class="list-group-item">Contact</a>
				<a id="side_nav_help" href="/help" title="Afia Help" class="list-group-item">Help / Support</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}