{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% load account socialaccount %}




{% block content %}

<div class="row">
	<div class="col-md-8" role="main">
		<a id="searchable"></a>
				
	<div class="row">
		
		<div class="col-sm-12">
			<p>
				<b>Please choose your new password.</b>
			</p>
		</div>
		<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

	    {% if token_fail %}
	        {% url 'account_reset_password' as passwd_reset_url %}
	        <div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success">
	        			<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
	        			</p>
	        		</div>
	        	</div>
	        </div>
	    {% else %}
        	{% if form %}
			<form id="formReset" method="post" action="{{ action_url }}">
				{% csrf_token %} 
				{% if request.GET.next %}
	                <input type="hidden" name="next" value="{{request.GET.next}}" class="form-control">
	            {% endif %}

				{% if form.non_field_errors %}
		        <div class="alert alert-warning">
		          <ul class="alert-message">
		            {% for error in form.non_field_errors %}
		            <li>{{ error }}</li>
		            {% endfor %}
		          </ul>
		        </div>
	        	{% endif %}
				<div class="col-sm-12">
					<div id="field_password1" class="field form-group required">
						<label for="id_password1" class="control-label">New password *</label>
						
						<div class="controls widget {% if form.password1.errors %}has-error{% endif %}" style="margin-bottom: 0px;">
							<input id="id_password1" name="password1" type="password" class="form-control input-lg">
						</div>
						<div class="errors help-block" style="margin: 0px; padding-top: 5px;">{{form.password1.errors}}</div>
					</div>
					<div id="field_password2" class="field form-group required">
						<label for="id_password2" class="control-label">New password (confirm) *</label>
						
						<div class="controls widget {% if form.password1.errors %}has-error{% endif %}" style="margin-bottom: 0px;">
							<input id="id_password2" name="password2" type="password" class="form-control input-lg">
						</div>
						<div class="errors help-block" style="margin: 0px; padding-top: 5px;">{{form.password2.errors}}</div>
					</div>
				</div>
				<div class="col-sm-6 pull-left">
		            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Change Password">Reset Password</button>
				</div>
			</form>
			{% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    	{% endif %}
	</div>
	<a id="searchable_end"></a>
	</div>
	<div class="col-md-4">
				
    
		<div class="panel panel-default">
			<div class="panel-heading">
				Login / Registration
			</div>
		    <div class="list-group">
				<a href="{% url 'account_login' %}" class="list-group-item">Login / Register</a>
				<a href="{% url 'account_reset_password' %}" class="list-group-item">Forgot Password</a>
		    </div>
	    </div>
    
	
		<div class="panel panel-success" id="side_nav_links">
			<div class="panel-heading">
				Afia - Buy and Sell Mobile
			</div>
			<div class="list-group">
				<a id="side_nav_about" href="/about" title="About Afia" class="list-group-item">About Afia</a>
				<a id="side_nav_buy" href="{% url 'buy' %}" title="Buy with Afia" class="list-group-item">Buy with Afia</a>
				<a id="side_nav_sell" href="/sell" title="Sell with Afia" class="list-group-item">Sell with Afia</a>
				<a id="side_nav_vs" href="/vs/ebay" title="Afia vs. Jumia" class="list-group-item">Afia vs. Jumia</a>
				<a id="side_nav_faq" href="/faq" title="Afia FAQ" class="list-group-item">FAQ: Questions &amp; Answers</a>
				<a id="side_nav_policies" href="/policies" title="Afia Market Policies" class="list-group-item">Market Policies</a>
				<a id="side_nav_contact" href="/contact" title="Contact Afia" class="list-group-item">Contact</a>
				<a id="side_nav_help" href="/help" title="Afia Help" class="list-group-item">Help / Support</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}