{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% load account socialaccount %}




{% block content %}

<div class="row">
	<div class="col-md-8" role="main">
		<a id="searchable"></a>
				
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-success">
				<p>
					<b>An email has been sent</b> with instructions for resetting your password.
				</p>
			</div>
		</div>
	</div>

		<a id="searchable_end"></a>
	</div>
	<div class="col-md-4">
				
    
		<div class="panel panel-default">
			<div class="panel-heading">
				Login / Registration
			</div>
		    <div class="list-group">
				<a href="{% url 'account_login' %}" class="list-group-item">Login / Register</a>
				<a href="{% url 'account_reset_password' %}" class="list-group-item">Forgot Password</a>
		    </div>
	    </div>
    
	
		<div class="panel panel-success" id="side_nav_links">
			<div class="panel-heading">
				Afia - Buy and Sell Mobile
			</div>
			<div class="list-group">
				<a id="side_nav_about" href="/about" title="About Afia" class="list-group-item">About Afia</a>
				<a id="side_nav_buy" href="{% url 'buy' %}" title="Buy with Afia" class="list-group-item">Buy with Afia</a>
				<a id="side_nav_sell" href="/sell" title="Sell with Afia" class="list-group-item">Sell with Afia</a>
				<a id="side_nav_vs" href="/vs/ebay" title="Afia vs. Jumia" class="list-group-item">Afia vs. Jumia</a>
				<a id="side_nav_faq" href="/faq" title="Afia FAQ" class="list-group-item">FAQ: Questions &amp; Answers</a>
				<a id="side_nav_policies" href="/policies" title="Afia Market Policies" class="list-group-item">Market Policies</a>
				<a id="side_nav_contact" href="/contact" title="Contact Afia" class="list-group-item">Contact</a>
				<a id="side_nav_help" href="/help" title="Afia Help" class="list-group-item">Help / Support</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}